= render "shared/adminheader"
= render "shared/leftsidebar"
.adminmainwindow
  .adminmainwindow__boxes
    .adminmainwindow__boxes__orders
    [注文履歴 最新５件]
    .adminmainwindow__boxes__stocks
    [在庫数 5未満の商品一覧]
= render "shared/adminfooter"
