.adminheader
  .adminheader__title
    Amazon Website Master
  .adminheader__username
    ようこそ、
    %br
    = current_user.nickname
    様
  .adminheader__buttons
    .adminheader__buttons__sitebutton
      = link_to "トップページを表示", root_path
    .adminheader__buttons__logoutbutton
      = link_to "ログアウト" , destroy_user_session_path, method: :delete
