.adminheader.clearfix
  .adminheader__title
    = image_tag "logo.png"
    %h1.title
      Website Master
  .adminheader__right.clearfix
    .adminheader__username
      %span
        ようこそ、
        %span.currentuser_name
          = current_user.nickname
        様
    .adminheader__buttons
      .adminheader__buttons__sitebutton
        = link_to "トップページを表示", root_path
