.navLeftFooter
  .navLeftFooter__navFooterBackToTop
    .navLeftFooter__navFooterBackToTop__navFooterBackToTopText
      = link_to "トップへ戻る" , "/"

  .navLeftFooter__navFooterVerticalColumn
    .navLeftFooter__navFooterVerticalColumn__tbody
      .navLeftFooter__navFooterVerticalColumn__tbody__tr1
        .navLeftFooter__navFooterVerticalColumn__tbody__tr1_title
          Amazonについて
        .navLeftFooter__navFooterVerticalColumn__tbody__tr1_record
          %ul
            %li<>
              採用情報
            %li<>
              Amazonについて
            %li<>
              プレスリリース
            %li<>
              Amazonと地球
            %li<>
              Amazonのコミュニティ活動
            %li<>
              Amazon Story
            %li<>
              AmazonGlobal
        %td.navFooterColSpacerInner

      .navLeftFooter__navFooterVerticalColumn__tbody__tr2
        .navLeftFooter__navFooterVerticalColumn__tbody__tr2_title
          Amazonでビジネス
        .navLeftFooter__navFooterVerticalColumn__tbody__tr2_record
          %ul
            %li<>
              Amazonで売る
            %li<>
              フルフィルメント by Amazon
            %li<>
              Amazon Businessで法人販売
            %li<>
              アソシエイト（アフィリエイト）
            %li<>
              Amazonで広告掲載をする
            %li<>
              Amazonで出版
            %li<>
              Amazonの仕入先になる
            %li<>
              ›すべてのサービスを見る
        %td.navFooterColSpacerInner

      .navLeftFooter__navFooterVerticalColumn__tbody__tr3
        .navLeftFooter__navFooterVerticalColumn__tbody__tr3_title
          Amazonでのお支払い
        .navLeftFooter__navFooterVerticalColumn__tbody__tr3_record
          %ul
            %li<>
              Amazonポイント
            %li<>
              フルフィルメント by Amazon
            %li<>
              Amazonギフト券
            %li<>
              Amazon Mastercard
            %li<>
              クレジットカード＆保険
            %li<>
              パートナーポイントプログラム
            %li<>
              Amazonギフト券チャージタイプ
            %li<>
              すべての支払い方法を見る
        %td.navFooterColSpacerInner

      .navLeftFooter__navFooterVerticalColumn__tbody__tr4
        .navLeftFooter__navFooterVerticalColumn__tbody__tr4_title
          ヘルプ＆ガイド
        .navLeftFooter__navFooterVerticalColumn__tbody__tr4_record
          %ul
            %li<>
              配送料と配送情報
            %li<>
              商品の返品・交換
            %li<>
              コンテンツと端末の管理
            %li<>
              ストア・特集一覧
            %li<>
              Amazonアシスタント
            %li<>
              ヘルプ
        %td.navFooterColSpacerInner

.navFooterLine
  .nav-logo-base
    = image_tag "logo.png"
  .icp-button#icp-touch-link-country
  .icp-button#icp-touch-link-language

.navFooterLine_navFooterLinkLine_navFooterDescLine
  .navFooterLine_navFooterLinkLine_navFooterDescLine__list
    %ul
      %li<>
        Audible（オーディブル）
      %li<>
        本は「朗読」で聴こう

.navFooterLine_navFooterLinkLine_navFooterPadItemLine_navFooterCopyright_navFooterLineDivider
