.errorwindow
  .errorwindow__main-message
    403 Forbidden
  .errorwindows__sub-message
    このページへのアクセス権限がないため、表示できません。
    %br
    下記リンクよりトップページに移動できます。
  %br
  .errorwindow__toplink
    =link_to "トップページ" , "/"
