.404errorwindow
  .404errorwindow__logo
    = image_tag "loginlogo.png"
  .404errorwindow__main-message
    何かお探しですか？
  .404errorwindows__sub-message
    入力されたURLが当サイトのページと一致しません
    %br
    下記リンクよりトップページに移動できます。
  %br
  .404errorwindow__toplinks
    =link_to "トップページ" , "/"
