.add-to-cart {
  width: 100%;
  &__box {
    width: 1150px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    &__left {
      background-color: #fafafa;
      width: 260px;
      height: 60px;
      border-width: 1px;
      border-style: solid;
      border-color: #cccccc;
      float: left;
      &__checkmark {
        height: 50px;
        width: 50px;
        float: left;
        &__icon {
          color: #099700;
          font-size: 20px;
          margin-left: 15px;
          margin-top: 20px;
        }
      }
      &__image {
        border-color: #099700;
        border-style: solid;
        border-width: 1px;
        width: 60px;
        height: 46px;
        margin-top: 5px;
        float: left;
        text-align: center;
          img {
            max-height: 44px;
          }
        &__outer {
          width: 50px;
          height: 46px;
          float: left;
          &__checkicon {
            height: 45px;
            width: 49px;
          }
        }
        &__inner {
          width: 10px;
          height: 46px;
          float: left;
        }
      }
      &__textbox {
        width: 140px;
        height: 60px;
        float: left;
        &__text{
          color: #099700;
          font-size: 17px!important;
          font-weight: 700!important;
          height: 20px;
          width: 120px;
          text-align: center;
          padding: 20px 0;
          margin: 0 auto;
        }
      }
    }
    &__center {
      background-color: #f3f3f3;
      width: 540px;
      height: 60px;
      float: left;
      border-top-color: #cccccc;
      border-bottom-color: #cccccc;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      &__text {
        height: 60px;
        padding-top: 5px;
        padding-left: 20px;
        &__over {
          height: 30px;
        }
        &__under {
          height: 30px;
        }
      }
    }
    &__right {
      background-color: #f3f3f3;
      width: 340px;
      height: 60px;
      border-top-color: #cccccc;
      border-bottom-color: #cccccc;
      border-right-color: #cccccc;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-right-width: 1px;
      border-top-style: solid;
      border-bottom-style: solid;
      border-right-style: solid;
      float: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__box {
        height: 40px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.showbtn{
  background-color: #e7e9ec;
  border-color: #a2a6ac;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 100px;
  height: 30px;
  float: left;
  text-align: center;
  padding-top: 10px;
  margin-right: 10px;
  &__link {
    text-decoration: none;
    &__btn {
      font-size: 14px;
      color: #111;
    }
  }
}

.showbtn__mini{
  background-color: #e7e9ec;
  border-color: #a2a6ac;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  width: 120px;
  height: 20px;
  float: left;
  text-align: center;
  padding-top: 5px;
  margin-right: 10px;
  &__link {
    text-decoration: none;
    &__btn {
      font-size: 12px;
      color: #111;
    }
  }
}

.registerbtn{
  background-color: #f5bc17;
  border-color: #9b7e31;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  width: 190px;
  height: 30px;
  text-align: center;
  float: left;
  vertical-align: center;
  padding-top: 10px;
  &__link {
    text-decoration: none;
    &__btn {
      font-size: 14px;
      color: #111;
    }
  }
}

.showbtn a{
  color: #000000;
  text-decoration: none;
}

.showbtn__mini a{
  color: #000000;
  text-decoration: none;
}
.registerbtn a{
  color: #000000;
  text-decoration: none;
}


.recommends{
  padding: 0 100px;
  font-size: 20px;
  &__one{
    padding-bottom: 20px;
      &__images {
        .btfContent1__uber-widget-ns-images {
          margin-top: 20px;
        }
      }
  }
  &__two{
    padding-bottom: 20px;
    &__images {
      .btfContent1__uber-widget-ns-images {
        margin-top: 20px;
      }
    }
  }
  &__three{
    padding-bottom: 20px;
    &__images {
      .btfContent1__uber-widget-ns-images {
        margin-top: 20px;
      }
    }
  }
  &__four{
    padding-bottom: 20px;
    &__images {
      .btfContent1__uber-widget-ns-images {
        margin-top: 20px;
      }
    }
  }
}

.carttotal{
  margin: 0 auto;
  width: 700px;
  height: 50px;
  border: 1px solid;
  border-color: #CCCCCC;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 40px;
  &__text{
    float: left;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
  }
  &__itemcount{
    float: left;
    padding-top: 10px;
  }
  &__price{
    float: left;
    padding-right: 50px;
    padding-top: 10px;
  }
}


.cartleftwindow{
  padding: 15px 0 0 20px;
  float: left;
  width: calc(100% - 330px);
  &__ad{
    width: 100%;
    height: 90px;
    border: 1px solid;
    border-color: #d8d8d8;
    padding: 10px;
      &__card {
        float: left;
      }
      &__new {
        float: left;
        margin: 8px 0 0 25px;
          .card-title {
            color: #0A3A80;
            font-weight: bold;
          }
          .card-content {
            color: #ffa502;
            font-size: 18px;
            font-weight: bold;
          }
          .card-detail {
            font-size: 14px;
            color: #000;
          }
      }
      &__btn {
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
  }
  &__title{
    padding-top: 10px;
    &__left{
      font-size: 20px;
      float: left;
    }
    &__right{
      float: right;
      padding-right: 50px;
      font-size: 12px;

    }

  }
  &__topborder{
    clear: both;
    padding-top: 10px;
    padding-right: 45px;
    &__pricetext{
      float: left;
      padding-left: 800px;
    }
    &__quantitytext{
      float: left;
      padding-left: 200px;
    }
    &__line{
      clear: both;
      padding-top: 10px;
      border-bottom:  1px solid;
      border-color: #d8d8d8;
    }

  }
  &__goodslist{
    padding-top: 10px;
    &__detail{
      width: 700px;
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      &__image{
        float: left;
        padding-left: 10px;
        padding-right: 10px;
      }
      &__title{
        padding-right: 10px;
        font-weight: bold;
        font-size: 16px;
      }
      &__maker{
        font-size: 14px;
      }
      &__stockcheck{
        font-size: 10px;
      }
      &__primemark{

      }
      &__giftbox{
        font-size: 12px;
      }
      &__destroy{
        font-size: 12px;
        float: left;
        padding-right: 10px;
      }
      &__buylater{
        font-size: 12px;

      }
    }
    &__pricespace{
      float: left;
      padding-left: 70px;
      &__price{
        width: 150px;
        float: left;
        font-size: 20px;
        color: #A82207;
        font-weight: bold;
        padding-top: 20px;
      }
    }
    &__quantityspace{
      float: left;
      position: relative;
      left: 80px;
      top: 15px;
      &__quantity{
      }
    }
  }
  &__buylatertitle{
    padding-top: 10px;
    &__left{
      font-size: 20px;
    }
  }
  &__buylatergoodslist{
    padding-top: 10px;
    &__detail{
      width: 700px;
      float: left;
      padding-top: 10px;
      padding-bottom: 10px;
      &__image{
        float: left;
        padding-left: 10px;
        padding-right: 10px;
      }
      &__title{
        padding-right: 10px;
        font-weight: bold;
        font-size: 16px;
      }
      &__maker{
        font-size: 14px;
      }
      &__stockcheck{
        font-size: 10px;
      }
      &__primemark{

      }
      &__destroy{
        font-size: 12px;
        float: left;
        padding-right: 10px;
      }
      &__movetocart{
        font-size: 12px;
      }
    }
    &__pricespace{
      float: left;
      padding-left: 70px;
      &__price{
        width: 150px;
        float: left;
        font-size: 20px;
        color: #A82207;
        font-weight: bold;
        padding-top: 20px;
      }
    }
  }
  &__bottomborder{
    clear: both;
    width: 1100px;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    padding-top: 20px;
  }
  &__subtotal{
    float: right;
    padding-right: 45px;
    margin-top: 25px;
    font-weight: bold;
    &__items{
      float: left;
    }
    &__total{
      float: left;
      color:  #A82207;

    }
  }
  &__points{
    clear: both;
    text-align: right;
    padding-right: 45px;
    padding-top: 10px;
    font-size: 12px;
  }
  &__message{
    padding-top: 20px;
    font-size: 12px;
  }
}

.cartrightwindow{
  padding-top: 10px;
  float: left;
  &__totalbox{
    width: 300px;
    height: 250px;
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #d8d8d8;
    border-radius: 8px;
    &__subtotaltext{
      padding: 10px 0 10px 20px;
      font-weight: bold;
    }
    &__points{
      font-size: 12px;
      padding-left:20px;
    }
    &__giftsettings{
      font-size: 12px;
      padding-left:20px;
    }
    &__registarbtn{
      padding: 20px 0 20px 60px;
    }
    &__bordertext{
      clear: both;
      font-size: 12px;
      padding-top: 20px;
      text-align: center;
    }
    &__oneclicklinks{
      font-size: 12px;
      padding-top: 20px;
      text-align: center;
    }
  }
  &__sponsoredgoodslink{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 500px;
    border: 1px solid;
    border-color: #d8d8d8;
    border-radius: 8px;
    &__title{
      padding: 10px 20px 20px 20px;
      font-size: 14px;
      font-weight: bold;
    }
    &__items{
      font-size: 12px;
      &__image{
        float: left;
      }
      &__goodsname{
      }
      &__rate{

      }
      &__price{
        float: left;
        font-weight: bold;
        color: #A82207;
      }
      &__primemark{

      }
      &__allitems{


      }
    }
  }
}

.cartleftwindow a{
  display: block;
  margin-right: 70px;
  color: #0000FF;
  text-decoration: none;
}

.btntolink{
  border-style: none;
  font-size: 12px;
  color: #0000FF;
}
