.categories{
  padding-top: 110px;
  width: 100%;
  margin-left: 20px;
  font-size: 20px;

  .categories_list{
    width: 25%;
    float: left;
    margin: auto;
    text-align: center;
    font-size: 10px;
  }
}
