// 注文履歴画面 index



// 注文詳細画面 show



// 注文完了画面 create
.ordermessages{
  padding-top: 100px;
}

.recommends{
  padding-left: 100px;
  font-size: 20px;
  &__one{
    padding-bottom: 20px;
  }
  &__two{
    padding-bottom: 20px;
  }
  &__three{
    padding-bottom: 20px;
  }
  &__four{
    padding-bottom: 20px;
  }
}
