// header

.searchTemplate {
  height: 40px;
  font-size: 14px;
  padding: 0 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-bottom: 1px solid #dadada;
    &__left {
      width: calc(100% - 400px);
      float: left;
        &__h1 {
          position: relative;
          top: 50%;
          transform: translateY(50%);
            span {
              color: #c45500;
              font-weight: bold;
            }
        }
    }
    &__right {
      width: 260px;
      float: right;
        &__selectbox {
          width: 260px;
          position: relative;
          top: 50%;
          transform: translateY(50%);
            span {
              display: inline-block;
              position: relative;
              bottom: 2px;
            }
        }
    }
}

// common settings main content
a {
  text-decoration: none;
}
.content {
  padding: 20px;
}

  // arrows
  .srSprite {
    background-image: image-url("ui_base.png");
  }
  .pagnSprite {
    background-image: image-url("searchSprite.png");
  }
  .rightArrow {
    background-position: -478px 747px;
    width: 8px;
    height: 14px;
    display: inline-block;
    position: absolute;
    margin: 2px 0 0 4px;
  }
  .pagnPrevArrow {
    display: inline-block;
    width: 17px;
    height: 24px;
    background-position: 0 -325px;
  }
  a:hover .pagnPrevArrow {
    background-position: -40px -325px;
    cursor: pointer;
  }
  .pagnNextArrow {
    display: inline-block;
    width: 17px;
    height: 24px;
    background-position: -20px -325px;
  }
  a:hover .pagnNextArrow {
    display: inline-block;
    width: 17px;
    height: 24px;
    background-position: -60px -325px;
  }

// sidebar
.leftNav {
  width: 240px;
  float: left;
    &__header {
      border-right: 1px solid #ddd;
        h2 {
          color: #999;
          margin-bottom: 15px;
        }
    }
    &__category {
      a:hover {
        color: #e47911;
      }
      &__title {
        color: #000;
        display: inline-block;
        font-weight: bold;
      }
      ul:last-child {
        margin-bottom: 30px;
      }
      ul li {
        border: none;
        display: block;
        font-size: 12px;
        padding: 0;
        margin-bottom: 10px;
          a {
            text-decoration: none;
            margin-bottom: 5px;
          }
          ul li {
            margin: 0 15px;
            margin-bottom: 10px;
              a {
                color: #000;
              }
          }
      }
      &__option {
        &__title {
          font-weight: bold;
          margin-bottom: 5px;
        }
        li {
          margin-bottom: 5px;
        }
      }
    }
}

// search result
.searchResult {
  width: calc(100% - 240px);
  float: right;
    ul {
      margin: 0 0 25px 20px;
        li {
          width: 29%;
          height: 330px;
          border: none;
          border-bottom: 1px solid #ddd;
          float: left;
        }
    }
    &__ul {
      &__li {
        span {
          font-size: 13px;
          color: #555;
        }
        span.color-success {
          color: #008a00;
          font-weight: bold;
        }
        span.review_number {
          color: #0066c0;
          display: inline-block;
          position: relative;
          top: -2px;
        }
        &__img img {
          max-width: 300px;
          max-height: 200px;
          width: auto;
          height: auto;
        }
        &__title {
          a {
            font-size: 15px;
            color: #0066c0;
            line-height: 1.3em;
          }
          a:hover {
            color: #e47911;
          }
        }
        &__price {
          a {
            span {
              color: #B12704;
              font-size: 14px;
              font-weight: bold;
            }
          }
          img {
            position: relative;
            top: 2px;
          }
        }
        &__day {
          position: relative;
          top: -5px;
        }
        &__review {
          span.review_stars {
            display: inline-block;
            background-image: image-url("ui_base.png");
            background-position: -574px 384px;
            width: 81px;
            height: 16px;

          }
        }
      }
    }

  // pagination
  .text-center {
    height: 40px;
    // background: #eee;
    margin: 0 20px;
    text-align: center;
      .pagination {
        display: inline-block;
        margin-top: 4px;
          li {
            width: 26px;
            background: none;
            border: none;
            padding: 0;
              a {
                color: #0066c0;
              }
              a:hover {
                color: #c45500;
              }
              a > span:hover {
                text-decoration: underline;
              }
          }
          li.first {
            width: 180px;
          }
          li.next {
            width: 180px;
          }
          li.active {
            a.page-link {
              color: #000;
              font-weight: bold;
              cursor: default;
            }
          }
          li.page-item {
            a.page-link {
              padding: 5px;
            }
            a.page-link:hover {
              background: #FFF;
              border: 1px solid #0066c0;
            }
          }
        .pagnPrevString, .pagnNextString {
          display: inline-block;
          position: relative;
          bottom: 5px;
          margin: 0 10px;
        }
      }
      nav.pagination {
        display: flex;
      }
      nav.pagination:before {
        content: '';
        width: calc(100% - 300px);
        height: 40px;
        background: #eee;
        position: absolute;
        right: 0;
        margin: -7px 20px 0 0;
        z-index: -9999;
      }
  }
}

// No result
.searchNoResult {
  h1 {
    font-size: 18px;
    margin: 50px 0 20px 0;
      span {
        font-weight: bold;
      }
  }
  h2 {
    font-size: 14px;
    font-weight: bold;
  }
  ul {
    margin: 0;
      li {
        width: 100%;
        padding: 0;
        border: none;
      }
      li.a-size-base {
        font-size: 12px;
        margin-top: 10px;
        padding-left: 10px;
        list-style: inside;
        float: none;
      }
      li.a-size-base:last-child {
        margin-bottom: 20px;
      }
  }
}

.a-box-inner {
  border: 1px solid #d2d2d2;
  padding: 17px 20px;
  border-radius: 6px;
    span {
      font-size: 13px;
    }
    li.a-list-item {
      width: auto;
      display: inline-block;
      border: 1px solid #aaa;
      padding: 5px 12px;
      font-size: 14px;
      margin: 5px 10px 5px 0;
      border-radius: 4px;
    }
    .a-row {
      a {
        color: #0066c0;
      }
      a:hover {
        color: #c45500;
      }
    }
}

// Auto complete
ul.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}
li.ui-menu-item {
  padding: 10px!important;
  font-size: 14px;
  list-style-image: none!important;
  // width: 690px;
}
li.ui-state-focus {
  background: #eee!important;
}
#jquery-ui-autocomplete label {
    float: left;
    margin-right: 0.5em;
    color: black;
    font-size: 13px;
}
