.sub_category {
  font-size: 30px;
  margin: 10px;
  &__list {
    width: 100%;
    &__all {
      float: left;
    }
    &__price{
      font-size: 10px;
    }
 }
}

.sub_category__list img{
      width: 100px;
      height: 100px;
    }
.sub_category__list a{
  font-size: 10px;
}
