// ヘッダー部分
.header{
  width: 100%;
  height: 50px;
  text-align: center;
  &__logo{
    margin-top: 10px;
  }
}

// ログイン画面
.loginoutline{
  width: 350px;
  margin: 0 auto;
  border: 1px solid;
  border-color: #dddddd;
  padding-left: 40px;
  &__box{
    font-size: 24px;
    padding: 10px 0 10px 0;
    &__item{
      font-size: 16px;
    }
    &__field{
    }
    &__newcustomer{
      &__line{
        padding: 20px 0 0 65px;
        color: #767676;
        font-size: 12px;
      }
    }
  }
}

.form{
  height: 20px;
  width: 300px;
}

.forgotpassword{
  font-size: 14px;
  padding-left: 60px;
  text-decoration: none;
}

.button{
    display: inline-block;
    margin: 30px 0 20px 0;
    padding: 0.5em 1em;
    width: 305px;
    text-decoration: none;
    background: #eed186;/*ボタン色*/
    border-bottom: solid 4px #eed186;
    border-radius: 4px;
    font-size: 14px;
}

.graybutton{
    display: inline-block;
    margin: 10px 0 20px 0;
    padding: 0.5em 1em;
    width: 275px;
    text-decoration: none;
    background: #f0f0f0;/*ボタン色*/
    border-bottom: solid 4px #f0f0f0;
    border-radius: 4px;
    color:#000000;
    text-align: center;
    font-size: 14px;
}

// アカウント作成・編集画面
.signupline{
  width: 350px;
  margin: 0 auto;
  border: 1px solid;
  border-color: #dddddd;
  padding-left: 40px;
  &__box{
    font-size: 24px;
    padding: 10px 0 10px 0;
    &__item{
      font-size: 14px;
      padding-top: 10px;
    }
    &__field{
    }
  }
  &__message{
    font-size: 14px;
    color: #FF0000;
    padding-bottom: 20px;
  }
  &__rulemessage{
    font-size: 12px;
    padding-bottom: 20px;
  }
  &__borderline{
    border-top: 1px solid;
    width: 300px;
    color: #dddddd;
    padding-bottom:20px;
  }
  &__loginlink{
    font-size: 12px;
    padding-bottom: 20px;
  }
}

.signupline a{
  color: #0000FF;
  text-decoration: none;
}

// フッター部分
.footer{
  padding-top: 30px;
  &__line{
    border-top: 1px solid;
    border-color: #e5e5e5;
  }
  &__links{
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
  }
  &__copyrights{
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color:  #565656;
  }
}

// フッターリンク
.footer__links a{
  color: #0000FF;
  text-decoration: none;
}




// アカウントページ
.mainwindow{
  padding-top:50px;
  margin: 0 auto;
  width: 1200px;
  &__title{
    font-size: 32px;
  }
  &__topboxleft{
    float: left;
    width: 400px;
  }
  &__topboxcenter{
    float: left;
    width: 400px;
  }
  &__topboxright{
    float: left;
    width: 400px;
  }
  &__borderline{
    clear: both;
    width: 1170px;
    border-top: 1px solid;
    border-color:  #DDDDDD;
    padding-bottom: 30px;
  }
  &__middleboxleft{
    float: left;
    width: 400px;
  }
  &__middleboxmiddle{
    float: left;
    width: 400px;
  }
  &__middleboxright{
    float: left;
    width: 400px;
  }
}

.historybox{
  clear: both;
  width: 100%;
  height: 300px;
  border: 1px solid;
  margin-bottom: 40px;
  border-color:  #DDDDDD;
}

.unit1{
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
  padding-top: 30px;
  margin-right: 30px;
  height: 80px;
  &__boximage{
    float: left;
    padding-left: 10px;
  }
}
.unit2{
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
  padding-top: 30px;
  margin: 30px 30px 30px 0;
  height: 80px;
  &__boximage{
    float: left;
    padding-left: 10px;
  }
}

.unit3{
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
  padding:  10px 0 10px 20px;
  margin-right: 30px;
}
.unit4{
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
  padding:  10px 0 10px 20px;
  margin: 30px 30px 30px 0;
}
.unit5{
  border: 1px solid;
  border-color: #DDDDDD;
  border-radius: 4px;
  padding:  10px 0 10px 20px;
  margin: 30px 30px 30px 0;
}

.mainwindow a{
  color: #0000FF;
  text-decoration: none;
}

// お支払い方法の追加と削除
.payoption{
  padding-top: 100px;
  padding-left: 50px;
  &__title{
    padding-top: 20px;
    font-size: 18px;
  }
  &__message{
    font-size: 12px;
  }
  &__leftbox{
    padding: 50px 50px 0 0;
    font-size: 14px;
    float: left;
    width: 200px;
  }
  &__rightbox{
    width: 700px;
    padding-top: 50px;
    float: left;
    &__topbox{
    }
    &__creditlist{
    }
    &__toptitle{
      padding-top: 20px;
      font-size: 18px;
    }
    &__giftcardbox{
      padding-top: 10px;
    }
    &__new{
      padding-top: 30px;
      padding-bottom: 10px;
      font-size: 22px;
      font-weight: bold;
    }
    &__credit{
      &__leftbox{
        float: left;
        &__title{
          padding-top: 10px;
          font-weight: bold;
        }
        &__message{
          font-size: 12px;
        }
        &__addlink{
          clear: both;
          font-size: 12px;
          padding-top: 20px;
        }
        &__addtext{
          padding-top: 5px;
          padding-bottom: 10px;
          font-size: 12px;
        }
        &__name{
          float: left;
          &__label{
            font-weight: bold;
            font-size: 14px;
          }
          &__textfield{
            font-size: 14px;
          }
        }
        &__number{
          float: left;
          padding-left: 10px;
          &__label{
            font-weight: bold;
            font-size: 14px;
          }
          &__textfield{
            font-size: 14px;
          }
        }
        &__limit{
          float: left;
          padding-left: 10px;
          &__label{
            font-weight: bold;
            font-size: 14px;
          }
          &__monthbox{
            float: left;
          }
          &__yearbox{
            padding-left: 5px;
            float: left;
          }
        }
        &__cvc{
          padding-top: 10px;
          clear: both;
          &__label{
            font-weight: bold;
            font-size: 14px;
          }
          &__textfield{
            font-size: 14px;
          }
        }
        &__addbutton{
          clear: both;
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }
      &__rightmarkbox{
        padding-top: 10px;
        float: right;
      }
    }
    &__cellphone{
      &__leftbox{
        float: left;
        &__title{
          padding-top: 10px;
          font-weight: bold;
        }
        &__message{
          font-size: 12px;
        }
        &__addlink{
          padding-top: 20px;
          padding-bottom: 10px;
          font-size: 12px;
        }
        &__addtext{
          font-size: 12px;
        }
        &__carriername{
          padding-top: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        &__carrierbox{
          padding-bottom: 10px;
        }
        &__accounttype{
          padding-top: 10px;
          font-size: 14px;
          font-weight: bold;
        }
        &__accountbox{
          padding-bottom: 10px;
        }
        &__addbutton{
          padding-bottom: 20px;
        }
      }
      &__rightboxmark{
        float: right;
      }
    }
  }
}

.top{
  &__title{
    font-size: 18px;
    float: left;
    padding-right: 200px;
  }
  &__limit{
    font-size: 14px;
  }
}

.credit{
  clear: both;
  border: 1px solid;
  border-radius: 4px;
  border-color: #d8d8d8;
  background-color: #f1f1f1;
  width: 700px;
  height: 50px;
  &__mark{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  &__text{
    padding-top: 15px;
    padding-left: 20px;
    float: left;
    font-size: 14px;

  }
  &__limit{
    padding-top: 15px;
    padding-left: 230px;
    float: left;
    font-size: 14px;
  }
  &__listdownmark{
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    color: #575757;
    font-size: 20px;
    font-weight: bold;
  }
}

.gift{
  border: 1px solid;
  border-radius: 4px;
  border-color: #d8d8d8;
  background-color: #f1f1f1;
  width: 700px;
  height: 80px;
  &__mark{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
  }
  &__text{
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    font-size: 14px;
  }
  &__balance{
    padding-top: 10px;
    padding-right: 100px;
    float: right;
    font-size: 14px;
  }
  &__link{
    clear: both;
    padding-left: 60px;
    font-size: 14px;
  }
}


.addpaymentcreditbutton{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 200px;
    text-decoration: none;
    background: #eed186;/*ボタン色*/
    border-bottom: solid 4px #eed186;
    border-radius: 4px;
    font-size: 14px;
}

.addpaymentcarrierbutton{
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    width: 60px;
    text-decoration: none;
    background: #eed186;/*ボタン色*/
    border-bottom: solid 4px #eed186;
    border-radius: 4px;
    font-size: 14px;
}

// aタグ処理
.payoption a{
  text-decoration: none;
  color: #0000ff;
}

.payoption{
  &__rightbox__credit__leftbox__addbutton a{
    color: #000000;
  }
  &__rightbox__cellphone__leftbox__addbutton a{
    color: #000000;
  }
}

// マイストア
.mystorefirstheader{
  padding-top:70px;
  width: 100%;
  height: 25px;
  background-color:  #fafafa;
}

.mystoresecondheader{
  clear: both;
  height: 80px;
  background-color:  #f6f6f6;
  &__avatar{
    float: left;
  }
  &__name{
    float: left;
    padding-left: 20px;
    padding-top: 20px;
  }
  &__recentorder{
    float: left;
    padding-left: 30px;
  }
  &__prime
  {
    float: left;
    padding-left: 30px;
  }
  &__audible{
    float: left;
    padding-left: 30px;
  }
  &__starting{
    float: left;
    padding-left: 30px;
  }
}

.mystoremainwindow{
  background-color: #EBEDED;
  padding-left: 20px;
  height: 2000px;
  &__recommendtitle{
    font-size: 24px;
    padding:  20px 0 20px 0;
    text-align: center;
  }
  &__recommenditems{
    width: 350px;
    height: 350px;
    margin: 5px 5px 5px 5px;
    background-color: #FFFFFF;
    float: left;
    &__images{
      text-align: center;
    }
    &__title{
      font-size: 16px;
      text-align: center;
    }
    &__count{
      font-size: 8px;
      text-align: center;
    }
  }
}


.li{
  float: left;
  padding-right: 30px;
}
